{{!-- about section start --}}
<div class="container-fluid mt-5 py-10" id="about">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About us</h1>
            <p class="text-center">grow up your business.</p>
         <div class="row">
            <div class="col-md-6 col-12 hero-text order-md-0  text-center ">
            <img src="images/Rocket-Man.svg" alt="hero_section">
            </div>
            {{!-- right side --}}
            <div class="col-md-6 col-12 hero-text order-md-1  margin_first  text-center">
            <h1>WE WILL HELP YOU</h1>
            <h1>GROW YOUR BUSINESS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, fugit doloremque. Rem veniam rerum consequuntur! Corporis aliquam placeat natus nihil?</p>
            <button class="btn btn-primary btn-center">Read more</button>
            </div>
         </div>
        </div>
    </div>
</div>
{{!-- about section end --}}