<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9833.95155548762!2d82.78702976286736!3d26.327069918685464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3990f95bdd51fd9d%3A0xeb45852b85a76a72!2sRafiganj%2C%20Uttar%20Pradesh!5e1!3m2!1sen!2sin!4v1688528662856!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>